{% extends 'base.html' %}

{% block head_title %}Configuration{% endblock %}
{% block title %}Configuration{% endblock %}

{% block content %}
<form action="{{ url('configuration') }}" method="post" role="form">
    {{ csrf_tag() }}
    <div class="panel panel-default">
        <div class="panel-heading">Twitch Bot</div>
        <div class="panel-body">
            <div class="form-group">
                <label>Twitch Bot Username</label>
                <input class="form-control" name="username" value="{{ config.username }}" />
            </div>

            <div class="form-group">
                <label>Twitch Bot Oauth Token</label>
                <input class="form-control" name="oauth" value="{{ config.oauth }}" />
                <p class="help-block">You can get yours <a href="http://twitchapps.com/tmi/">here</a>.</p>
            </div>

            <div class="form-group">
                <label>Enter the channel to join :</label>
                <input class="form-control" name="channel" value="{{ config.channel }}" />
            </div>

            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
    </div>
</form>
{% endblock %}