{% block modal_before %}{% endblock %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title" id="modal-title">{% block modal_title %}Title{% endblock %}</h4>
</div>

<div class="modal-body">
  {% block modal_body %}{% endblock %}
</div>

<div class="modal-footer">
  {% block modal_footer %}
  <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
  {% endblock %}
</div>
{% block modal_after %}{% endblock %}
