{% extends 'base.html' %}

{% block head_title %}Modules{% endblock %}
{% block title %}Modules{% endblock %}

{% macro show_dependency(identifier) -%}
    {% set module = modules.get(identifier, None) -%}
    {% if module is none -%}
    <span class="text-danger">{{ identifier }}</span>
    {% else -%}
    <span class="text-{{'success' if module.config.activated else 'danger' }}">{{ module.title }}</span>
    {%- endif %}
{%- endmacro %}

{% block content %}
<form action="{{ url('modules') }}" method="post" role="form">
    <div class="panel panel-default">
        <div class="panel-heading">{{ _('Modules') }}</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ _('Activated') }}</th>
                        <th>{{ _('Module') }}</th>
                        <th>{{ _('Dependencies') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in modules.values() | sort(attribute='config.activated', reverse=True) %}
                    <tr>
                        <td><input type="checkbox" name="{{ module.identifier }}" {{ 'checked' if module.config.activated }} /></td>
                        <td>
                            <strong>{{ module.title }}</strong> <small>{{ module.description }}</small>
                        </td>
                        <td>{% for identifier in module.dependencies %}{{ show_dependency(identifier) }}{{ ', ' if not loop.last }}{% endfor %}</td>
                        <td>
                            {% if not module.config.activated and module.config.installed %}
                            <button type="submit" class="btn btn-danger" title="{{ _('Uninstall') }}"
                                    name="uninstall" value="{{ module.identifier }}">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <input class="btn btn-primary" type="submit" value="{{ _('Save') }}" />
        </div>
    </div>
</form>
{% endblock %}