{% extends 'base.html' %}

{% block head_title %}Modules{% endblock %}
{% block title %}Modules{% endblock %}

{% block content %}
{% if message %}
<div class="alert alert-success">{{ message }}</div>
{% endif %}

<form action="{{ url('configuration') }}" method="post" role="form">
    {% if activated_modules %}
    <div class="panel panel-default">
        <div class="panel-heading">Activated modules</div>
        <div class="panel-body">
            {% for module in activated_modules %}
            {{ module.identifier }}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if deactivated_modules %}
    <div class="panel panel-default">
        <div class="panel-heading">Deactivated modules</div>
        <div class="panel-body">
            {% for module in deactivated_modules %}
            {{ module.identifier }}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <input class="btn btn-primary" type="submit" value="Save" />
</form>
{% endblock %}