{% extends 'base.html' %}

{% block head_title %}Modules{% endblock %}
{% block title %}Modules{% endblock %}

{% block content %}
<form action="{{ url('modules') }}" method="post" role="form">
    <div class="panel panel-default">
        <div class="panel-heading">Modules</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Activated</th>
                        <th>Module</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in activated_modules %}
                    <tr>
                        <td><input type="checkbox" name="{{ module.identifier }}" checked /></td>
                        <td>
                            <strong>{{ module.title }}</strong> <small>{{ module.description }}</small>
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    {% for module in deactivated_modules %}
                    <tr>
                        <td><input type="checkbox" name="{{ module.identifier }}" /></td>
                        <td>
                            <strong>{{ module.title }}</strong> <small>{{ module.description }}</small>
                        </td>
                        <td>
                            {% if module.config.installed %}
                            <button type="submit" class="btn btn-danger" title="Uninstall"
                                    name="uninstall" value="{{ module.identifier }}">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
    </div>
</form>
{% endblock %}